Origin: OSMC
Version: 2.0.1-1
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libplatform library
Architecture: armhf
Installed-Size: 68
Package: armv7-libplatform-osmc
