Origin: OSMC
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libplatform library headers
Version: 1.0.10-1
Depends: armv7-libplatform-osmc (=1.0.10-1)
Package: armv7-libplatform-dev-osmc
