Origin: OSMC
Section: video
Essential: No
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center debug package for OSMC
Package: rbp2-mediacenter-debug-osmc
Version: 15.2.0-5
Depends: rbp2-mediacenter-osmc (=15.2.0-5)
