Origin: OSMC
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libcec package with headers
Version: 3.1.0-2
Depends: rbp2-libcec-osmc (=3.1.0-2)
Package: rbp2-libcec-dev-osmc
Architecture: armhf
Installed-Size: 119
