Origin: OSMC
Version: 16.8-048
Section: video
Essential: No
Priority: required
Provides: xbmc, kodi
Conflicts: xbmc, kodi
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center package for OSMC
Architecture: armhf
Installed-Size: 95696
Package: rbp2-mediacenter-osmc
