Origin: OSMC
Version: 17.8-001
Section: video
Essential: No
Priority: required
Provides: xbmc, kodi
Conflicts: xbmc, kodi
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center package for OSMC
Architecture: armhf
Installed-Size: 102652
Package: rbp1-mediacenter-osmc
